<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Study Materials for {{moduleCode}}-{{academicYear}}-{{semesterCode}} for Student:
        {{studentInfo?.studentNumber}} </h5>
      <br/>
      <p>To download a study material file to your PC, click on the description to open the document in your browser.
        Once the file has opened in a new window, use the Save a Copy option of your Adobe Reader to save the file to
        your PC.
      </p>
    </div>
  </div>

  <table class="table table-sm table-striped table-hover">
    <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">File Size</th>
      <th scope="col">Available Since</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studyMaterial of moduleStudyMaterialList">
      <td><a [href]="studyMaterial.path" target="_blank"><img src="assets/images/adobe-pdf-icon.png" height="22" width="22"> {{studyMaterial.description}}</a></td>
      <td>{{studyMaterial.filesize}}</td>
      <td>{{studyMaterial.implementationDate}}</td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <button type="button" class="btn btn-icon btn-secondary" (click)="cancel()"> Cancel</button>
    <button type="button" class="btn btn-icon btn-primary ml-2" (click)="back()"> Back</button>
  </div>
</div>
