<div class="container">
  <div class="row">
    <div class="col">
      <h5>Credit card payments</h5>
      <p>You can make a direct online credit card payment via the bank for a specific account.<br>
        PLEASE NOTE: You need a <b>valid email address</b> to complete the payment process.</p>
    </div>
  </div>
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <div class="row">
      <div class="col">
        <p>Please enter a valid student number or application reference number and choose Continue</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="studentNumber" class="col-sm-2 col-form-label font-weight-bold">Student Number</label>
      <div class="col-sm-2">
        <input
          type="text"
          class="form-control"
          id="studentNumber"
          name="studentNumber"
          pattern="([0-9])*"
          [(ngModel)]="studentNumber"
          minlength="7"
          maxlength="8"
          required >
      </div>
    </div>
    <br/>
    <div class="form-group">
      <button type="submit" class="btn btn-icon btn-primary" [disabled]="searchForm.form.invalid"> Display</button>
    </div>
  </form>
</div>
