<div class="container">
  <div class="row">
    <div class="col-12">
      <h5>Previous exam papers for {{moduleCode}}</h5>
      <br/>
      <p>To download a exam paper file to your PC, click on the description to open the document in your browser.
        Once the file has opened in a new window, use the Save a Copy option of your Adobe Reader to save the file to
        your PC.
      </p>
    </div>
  </div>


  <div class="mb-3">
    <b>List Date:&nbsp;</b><span>{{listDate}}</span>
  </div>
  <div class="alert alert-danger" *ngIf="examPaperMaterials.length === 0">
    No study material for this module is listed here.
  </div>
  <table class="table table-sm table-striped table-hover border" *ngIf="examPaperMaterials.length > 0">
    <thead>
    <tr>
      <th scope="col">Description</th>
      <th scope="col">File Size</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let studyMaterial of examPaperMaterials">
      <td>
        <a [href]="studyMaterial.path" target="_blank">
          <img src="assets/images/adobe-pdf-icon.png" height="22" width="22">
          <span>
            Examination Question Paper&nbsp;{{studyMaterial.unitNumber}}&nbsp;{{studyMaterial.periodDesc}}&nbsp;{{studyMaterial.academicYear}}&nbsp;({{studyMaterial.language}})
          </span>
        </a>
      </td>
      <td>{{studyMaterial.filesize}}</td>
    </tr>
    </tbody>
  </table>
</div>
