<div class="container">
<div class="row">
  <div class="col-12">
    <h5>Unisa Examination Timetable</h5>
    <p>Enter the required study unit codes into the request form below and select "Display" to view the timetable.</p>
    <p>The minimum length to enter is the&nbsp;<strong>first 6 characters</strong>&nbsp;of the study unit code. Invalid codes will be ignored.</p>
  </div>
</div>
  <form (ngSubmit)="onSubmit()" [formGroup]="searchForm">
    <div class="form-group row">
      <label for="listdate" class="col-sm-2 col-form-label font-weight-bold">List Date</label>
      <div class="col-sm-4">
        <p class="form-control-plaintext" id="listdate">{{ today | date: 'yyyy-MM-dd HH:mm' }}</p>
      </div>
    </div>
    <!-- <div class="form-group row">
      <label for="examinationyear" class="col-sm-2 col-form-label font-weight-bold">Examination Year</label>
      <div class="col-sm-2">
          <select class="form-control" id="examinationyear" name="examinationyear" [(ngModel)]="searchCriteria.year">
              <option *ngFor="let year of examYears" [ngValue]="year">
                {{ year }}
              </option>
            </select>
      </div>
    </div> -->
    <div class="form-group row">
      <label for="examinationperiod" class="col-sm-2 col-form-label font-weight-bold">Examination Period</label>
      <div class="col-sm-3">
          <select
            class="form-control"
            id="examinationperiod"
            name="examinationperiod"
            formControlName="examPeriod"
            required
            [compareWith]="compareExamPeriod">
              <option *ngFor="let examPeriod of examPeriods | orderBy: 'code'" [ngValue]="examPeriod">
                {{ examPeriod.description.english }} {{ examPeriod.examYear }}
              </option>
            </select>
      </div>
    </div>
    <div class="form-group">
      <label class="form-check-label font-weight-bold">Enter Study Unit Codes</label>
      <div class="form-row" formArrayName="courseCodes">
        <div class="col-sm mt-3 mt-sm-0" *ngFor="let cs of courseCodes.controls; index as i">
          <input type="text" class="form-control" name="courseCode" [formControlName]="i">
        </div>
      </div>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary" [disabled]="searchForm.invalid">Display</button>
    <button type="reset" class="btn btn-secondary">Clear</button>
    </div>
  </form>
</div>
