<div class="container">
  <div class="row">
    <div class="col">
      <h5>Credit Card Payments</h5>
    </div>
  </div>
  <br/>
  <br/>
  <form (ngSubmit)="payNow()" [formGroup]="summaryForm">

    <div class="form-group row " *ngIf="!summaryInfo?.errorFlag">
      <div class="alert alert-success col-sm-8" role="alert">
        <h6 class="alert-heading">Payment Successful:</h6>
        <p>{{summaryInfo?.summaryMessage}}</p>
      </div>
    </div>
    <div class="form-group row" *ngIf="summaryInfo?.errorFlag">
      <div class="alert alert-danger col-sm-8" role="alert">
        <h6 class="alert-heading">Payment Error:</h6>
        <p>{{summaryInfo?.summaryMessage}}</p>
      </div>
    </div>
    <br/>
    <div class="form-group">
      <!--TODO 1st & 2nd option only for non-students-->
      <button type="button" class="btn btn-icon btn-primary" (click)="cancel()"> Make another payment</button>
      <button type="button" class="btn btn-icon btn-secondary ml-2" (click)="cancel()"> Back to Financial Details</button>
      <button type="button" class="btn btn-icon btn-secondary ml-2" (click)="close()"> Close Payment Page</button>
    </div>
  </form>
</div>
